.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.content{
  font-family: 'Open Sans', sans-serif;;
  font-weight:400;
  padding: 5%;
  align-items: center;
}

a{
  font-family: 'Open Sans', sans-serif;;
  font-weight:400;
  font-size: 10px;
  text-align: right;
}

i{
  font-size: 25px;
  padding: 0.5em;
}

.LandingPage{
  display: flex;
}

.imageArea {
  flex: 50%;
}

.textArea {
  flex: 50%;
}

.header {
  display: flex;
  padding: 5%;
  align-items: center;
}

.header .socialMediaIcons{
  padding-left: 15%;

}

div .bgImage {
  position: relative;
  background-color: blue;

}

.image{
  position: absolute;
  top: 1%;
  left: 1%;
}

footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
