.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.content{
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  padding: 10%;
  align-items: center;
}

a{
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  font-size: 10px;
  text-align: right;
}

i{
  font-size: 25px;
  padding: 0.5em;
}

.LandingPage{
  display: flex;
}

.imageArea {
  flex: 50%;
}

.textArea {
  flex: 50%;
}

.header {
  display: flex;
  padding: 5%;
  align-items: center;
}

.header .socialMediaIcons{
  padding-left: 15%;
  position: relative;
}

.fab:hover{
  background-color: hsl(243, 86%, 85%);
}

.text {
  color: hsl(0, 0%, 50%);
}

.emailLabel{
  margin-top: 50px;
  margin-bottom: 0px;;
  font-weight: 700;
}

.bgImage {
  background-color: black;
}

.image{
  position: absolute;
  top: 1%;
  left: 1%;
}

.emailInput{
  display: inline-block;
  height: 50px;
  width: 50%;
  border: 0;
  border-radius: 4px;
  box-shadow: 3px 3px 8px 0px hsl(0, 0%, 50%);
}

.button {
  display: inline-block;
  margin: 10px;
  height: 50px;
  width: 150px;
  text-align: center;
  border-radius: 4px;
  background-color: hsl(163, 95%, 43%);
  border: 0;
  color: white;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 3px 3px 8px 0px hsl(0, 0%, 70%);
  cursor: pointer;

}

.PrivacyPolicy {
  position: relative;
  right: 0;
}

footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
